<h1>Welcome to Home Page, Leovanis</h1>

<form method="GET" action="">
    <label>Search for Movie:</label>
    <input type="text" name="searchMovie" value="{{ searchTerm }}">
    <button type="submit">Search</button>
</form>

<p>Searching for: {{ searchTerm }}</p>

{% for movie in movies %}
    <h2>{{ movie.title }}</h2>
    <p>{{ movie.description }}</p>

    <img src="{{ movie.image.url }}" width="200">

    {% if movie.url %}
        <br>
        <a href="{{ movie.url }}">Movie Link</a>
    {% endif %}

    <hr>
{% endfor %}